:root{
  --rotation: 0deg;
  --zvalue: 100px;
}

.sectionRotation{
  height: calc(360px * 6 - 72px * 6);
  width: 100%;
}

.sectionNone{
  display: none;
}

.section{
  transition: 0.5s;
}

@font-face {
  font-family: brandon-grotesque;
  src: url(./font/brandon-grotesque-black-58a8a3e824392.otf);
}

@font-face {
  font-family: brandon-grotesque-light;
  src: url(./font/brandon-grotesque-light-58a8a4b38001d.otf);
}

p{
  margin:0;
  color: white;
}

body{
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: brandon-grotesque;
  scroll-behavior: smooth;
}

.section {
  background: green;
  height: 30vh;
  width: 100%;
  position: relative;
}

/* SECTION ONE */


.firstSection{
  height: 100vh;
  background: #121212;
  font-size: 12vw;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}


.section1logo{
  position: relative;
}

.section1motto{
  position: relative;
}

.section1animation{
  position: relative;
}

.ball img{
  width: 3em;
  height: 3em;
}

.ball {
  position: absolute;
  left: calc(25% + 3.14*3em);
  width: 3em;
  height: 3em;
}

.firstLine{
  position: absolute;
  top: 3em;
  width: 65%;
  left: calc(25% + 3em / 2 - 5px);
  height: 4px;
  background: white;
  border-radius: 2px;
}

.drop {
  animation: drop 5s forwards; /*, ballFall 6s cubic-bezier(1,.01,1,1); */
}


.mottoContainer{
  color: white;
  font-size: 7vw;
  font-family: brandon-grotesque-light;
  margin-top: 10vh;
  margin-left: 10vw;
  margin-bottom: 8vh;
}

.mottoText{
  display: inline-block;
}

.mottoBiContainer{
  width: 100vw;
}

.mottoContainer {
  animation: move 1s ease-out;
}

.motto1{
  animation: moveFaster 1s linear;
}
.motto2{
  animation: moveFaster 1.2s linear;
}
.motto3{
  animation: moveFaster 1.4s linear;
}
.motto4{
  animation: moveFaster 1.5s ease-in;
}
.motto5{
  animation: moveFaster 1.7s linear;
}
.motto6{
  animation: moveFaster 1.9s ease-out;
}

@keyframes drop {
  20% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
            left: calc(25% + 3.14*3em);
  }
  100% {
      -webkit-transform: rotate(-360deg);
              transform: rotate(-360deg);
              left: 25%;
  }
}

@keyframes moveFaster {
  0% {
    margin-left: 3vh;
  }
  100% {
    margin-left: 0vw;
  }
}

@keyframes move {
  0% {
    margin-left: 200%;
  }
  100% {
    margin-left: 10vw;
  }
}

@keyframes ballFall {
  90% {
    top: 30%;
    }
  99% {
    top: 25000px;
    display: block;
  }
  100%{
    display: none;
  }
}

/* SECTION TWO */


.secondSection{
  width: 100%;
  overflow: hidden;
  height: 100vh;
  background-color: grey;
  position: -webkit-sticky;
  position: sticky;
  top:0;
}

.scene {
  width: 100vw;
  height: 100vh;
  perspective: 600px;
}

.prism {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transform: translateZ(-100px) rotateY(var(--rotation));
}

.prism__face {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 10;
}

.prism__face--1  { transform: rotateY(  0deg) translateZ(100px); }
.prism__face--2  { transform: rotateY( 72deg) translateZ(100px); }
.prism__face--3   { transform: rotateY(144deg) translateZ(100px); }
.prism__face--4   { transform: rotateY(216deg) translateZ(100px); }
.prism__face--5   { transform: rotateY(288deg) translateZ(100px); }
