:root{
  --rotation: 0deg;
  --zvalue: 100px;
}

.sectionRotation{
  height: calc(200vh);
  width: 100%;
}

.sectionNone{
  display: none;
}

.section{
  transition: 0.5s;
}

@font-face {
  font-family: brandon-grotesque;
  src: url(./font/brandon-grotesque-black-58a8a3e824392.otf);
}

@font-face {
  font-family: brandon-grotesque-light;
  src: url(./font/brandon-grotesque-light-58a8a4b38001d.otf);
}

p{
  margin:0;
  color: white;
}

body{
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: brandon-grotesque-light;
  scroll-behavior: smooth;
  height: 100%;
  overflow: auto;
}

.section {
  background: green;
  width: 100%;
  position: relative;
}

/* SECTION ONE */


.firstSection{
  height: min(12em,100vh);
  background: #121212;
  font-size: 12vw;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  z-index: 3;
  font-family: brandon-grotesque;
}


.section1logo{
  position: relative;
}

.section1motto{
  position: relative;
}

.section1animation{
  position: relative;
}

.ball img{
  width: 3em;
  height: 3em;
}

.ball {
  position: absolute;
  left: calc(25% + 3.14*3em);
  width: 3em;
  height: 3em;
}

.firstLine{
  position: absolute;
  top: 3em;
  width: 65%;
  left: calc(25% + 3em / 2 - 5px);
  height: 4px;
  background: white;
  border-radius: 2px;
}

.drop {
  animation: drop 5s forwards; /*, ballFall 6s cubic-bezier(1,.01,1,1); */
}


.mottoContainer{
  color: white;
  font-size: 7vw;
  font-family: brandon-grotesque-light;
  margin-top: 10%;
  margin-left: 10vw;
  margin-bottom: 8%;
}

.mottoText{
  display: inline-block;
}

.mottoBiContainer{
  width: 100vw;
}

.mottoContainer {
  animation: move 1s ease-out;
}

.motto1{
  animation: moveFaster 1s linear;
}
.motto2{
  animation: moveFaster 1.2s linear;
}
.motto3{
  animation: moveFaster 1.4s linear;
}
.motto4{
  animation: moveFaster 1.5s ease-in;
}
.motto5{
  animation: moveFaster 1.7s linear;
}
.motto6{
  animation: moveFaster 1.9s ease-out;
}

@keyframes drop {
  20% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
            left: calc(25% + 3.14*3em);
  }
  100% {
      -webkit-transform: rotate(-360deg);
              transform: rotate(-360deg);
              left: 25%;
  }
}

@keyframes moveFaster {
  0% {
    margin-left: 3vh;
  }
  100% {
    margin-left: 0vw;
  }
}

@keyframes move {
  0% {
    margin-left: 200%;
  }
  100% {
    margin-left: 10vw;
  }
}

@keyframes ballFall {
  90% {
    top: 30%;
    }
  99% {
    top: 25000px;
    display: block;
  }
  100%{
    display: none;
  }
}

/* SECTION TWO */

.secondSection{
  width: 100%;
  overflow: hidden;
  height: 100%;
  background-color: #121212;
}

.buttonLink{
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #d7effe;
  color: #000;
  padding: 14px 18px;
  width: 100%;
  outline: 0;
  -webkit-text-decoration: none;
  -moz-text-decoration: none;
  text-decoration: none;
  word-break: break-word;
  display: flex;
}

.buttonImage{
  height: 48px;
  margin-right: 20px;
  width: 48px;
  margin: 0;
  margin-right: 0px;
  padding: 0;
  border: 0;
  height: auto;
  max-width: 100%;
}

.buttonLabel{
  margin-right: auto;
}

a:visited{
  text-decoration: none;
}

.buttonLink:hover{
  box-shadow: 5px -5px rgba(255, 255, 255, 0.5);
  -webkit-transition: .2s ease-out;
  transition: .2s ease-out;
}

.devsite-landing-row-html{
  margin: 0 auto;
  max-width: 1380px;
  padding: 16px 16px;
}

.buttonicon{
  aspect-ratio: 48px/48px;
  height: 48px;
  margin-right: 20px;
  width: 48px;
  border: 0;
  height: auto;
  max-width: 100%;
  margin: 0;
  margin-right: 0px;
  padding: 0;
  cursor: default;
  pointer-events: none;
  margin-left: 8px;
}

.buttonImage{
  height: 48px;
  margin-right: 20px;
  width: 48px;
}

.threeButtons{
  display: grid;
  grid-gap: 32px;
  grid-template-columns: 1fr 1fr 1fr;
  list-style: none;
  margin: 0;
  padding: 0;
}

.button{
  display: flex;
}

@media only screen and (max-width: 800px) {
  .threeButtons{
    grid-template-columns: 1fr !important;
  }
}


/* SECTION THREE */

.sectionThree{
  background: #121212;
  overflow: hidden;
}

.gridContainer{
  display: grid;
}

.square {
  position: relative;
  width: 100%;
}

.square::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}


.block1{
  background-color: #073042;
}

.block2{
  background-color: #3ddc84;
}

.block3{
  background-color: red;
}

.contentBlock{
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 2em;
  box-sizing: border-box;
  display: grid;
}

.bigTitle a{
  -webkit-text-decoration: none;
  -moz-text-decoration: none;
  text-decoration: none;
  word-break: break-word;
  color: #fff;
  font-family: brandon-grotesque-light;
  font-size: 2em;
}

.bigTitle{
  text-align: center;
  margin: auto;
}

@media only screen and (min-width: 450px) and (max-width: 1001px) {
  .gridContainer{
    grid-template-columns: 1fr 1fr !important;
  }
  .block3::after{
    padding-bottom: 50% !important;
  }
  .block3{
    grid-column-start: 1;
    grid-column-end: 3;
    height: 100%;
  }
}

@media only screen and (min-width: 1001px) {
  .gridContainer{
    grid-template-columns: 1fr 1fr 1fr !important;
  }
}